/* Main */
:root {
    --green-1: #a8bfaa;
    --green-2: #658c6f;
    --green-3: #2b8c44;
    --green-4: #1f7334;
    --green-5: #115923;
    --green-6: #002e0c;
}

/* Util */
.line{
    margin-top: 1rem;
    width: 100%;
    height: 1px;
    background: #333;
}
/* Text Colors */

.text-primary{
    color: var(--green-3);
}

/* buttons */
.mybtn-primary {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--green-3);
    font-size: 2rem;
    padding: 1rem 3rem;
    /*Back Later change rem to 2rem*/
    border-radius: 3px;
    border: solid transparent 2px;
    transition: 0.5s;
}

.mybtn-primary:hover {
    background: transparent;
    border: solid #2b8c44 2px;

}

.btn-border {
    font-size: 2rem;
    padding: 1rem 3rem;
    /*Back Later change rem to 2rem*/
    border-radius: 3px;
    background-color: transparent;
    border: solid #2b8c44 2px;
    transition: 0.5s;
}

.btn-border:hover{
    border: solid grey 2px;

}

.mybtn-black{
    background: #000;
}
/* background colors */

.bg-1{
    background: var(--green-1);
}

.bg-2{
    background-color: var(--green-2);
}
.bg-3{
    background: var(--green-3);
}
.bg-4{
    background: var(--green-4);
}
.bg-5{
    background: var(--green-5);
}
.bg-6{
    background: var(--green-6);
}

/* Color */
.bg-darkgrey{
    background: #333;
}